body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.card {
    background: #ffdbdb;
    color: black;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}
.search_weather {
    display: flex;
    align-items: center;
    justify-content: center;
}
#hakunappi {
    margin: 0.5em;
    border-radius: 50%;
    border:none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #ffc0c0;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
input.search_bar_weather {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #ffc0c0;
    color: black;
    width: calc(100% - 100px);
}
#hakunappi:hover {
    background: #ffabab;
}
h1.temp {
    margin:0;
    margin-bottom:0.4em;
}
.flex {
    display: flex;
    align-items: center;
}
.description {
    text-transform: capitalize;
    margin-left: 8px;
}
.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading:after {
    visibility: visible;
    content: "Lataa...";
    color: black;
    position: absolute;
    top: 0;
    left: 20px;
}