body {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.card {
    background: #ffdbdb;
    color: black;
    padding: 5px 5px;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: auto;
    margin-top: 1em;
    border-style: groove;
}
.search_weather {
    display: flex;
    align-items: center;
    justify-content: center;
}
#hakunappi {
    margin: 0.5em;
    border-radius: 50%;
    border:none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #ffeeee;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
input.search_bar_weather {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #ffeeee;
    color: black;
    width: calc(100% - 100px);
}
#hakunappi:hover {
    background: #ffc0c0;
}
h1.temp {
    margin:0;
    margin-bottom:0.4em;
}
.flex {
    align-items: center;
    display: block;
}
.description {
    text-transform: capitalize;
}
.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading:after {
    visibility: visible;
    content: "Lataa...";
    color: black;
    position: absolute;
    top: 0;
    left: 20px;
}
.bannerkuva {
    width: 100%;
}
/*-------- media query for menu --------*/

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav{
        text-align: right;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .tit
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .dropdown:hover .dropdown-content{
        display: block;
        position: absolute;
        right: 100%;
        top: 0;
    }
    .cartName{
        font-size: 14px;
    }

}
video {
    pointer-events: none;
    width: 100%;
    height: auto;
}

.clothingImg{
    width: 200px;
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4, .slider{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}