
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    padding-top: 65px;

}
/* T채h채n voi muuttaa domii */
article{
    width: 50%;
    padding: 30px;
}
.dompic {
    flex-basis: 100%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    display: flex;
    flex-wrap: wrap;
}
.dompic img{
    width: 100%;
    height: 480px;
}

section {

}


.headerFrontpage{
    background: radial-gradient(#fff,#ffd6d7);
}

.header{

}

.header .row{
    margin-top: 70px;

}

.centered {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #555555;
    font-weight: bold;
}

.dropbutton {
    padding: 10px 25px;
    background: rgba(227, 153, 142, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    order: 0;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
    order: 0;
    text-align: center;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbutton {background: rgba(227, 153, 142,0.3);;}



/* Tyylittely navigaatiolle */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 15;
    background-color: rgba(255, 255, 255, 1);

}

nav{
    flex: 1;
    text-align: right;

}

.cart{
    float:left;
}
#ostoskuva {
    width: 30px;
    height: 30px;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display:inline-block;
    margin-right: 20px;
}

nav li a {
    transition: all 0.3s ease 0s;
    border: none;
    cursor: pointer;
    display: inline;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #555;
}

p{
    color: #555;
}

.container, .products-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.image-container {
    position: relative;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.imageCont{
    width: 100%;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis:50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    width: 100%;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
}
.btn{
    display: inline-block;
    background: #cd9591;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
/* Testimonial */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*--------- brands ----------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/*-------- footer --------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: auto;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.logo{
    width: 50px;
}
.logo img{
    width: 125px;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* kaikki tuotteet */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

.add-cart{
    position: relative;
    background-color: #f1c8c8;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
    color: #333333;
    opacity: 0;

}

.col-4:hover .cart1,
.col-4:hover .cart2,
.col-4:hover .cart3,
.col-4:hover .cart4{
    opacity: 1;
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in;
}*
.add-cart:active{
    transform: scale(.9);
}

.add-cart .fa-shopping-cart{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -10%;
    font-size: 2em;
    transform: translate(-50%,-50%);
}

.add-cart .fa-th-large{
    position: absolute;
    z-index: 3;
    top: -20%;
    left: 52%;
    font-size: 1.2em;
    transform: translate(-50%,-50%);
}
.add-cart span{
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    font-size: 1.3em;
    transform: translate(-50%, -50%);
}

.add-cart span.add-to-cart{
    opacity: 1;
}

.add-cart span.added{
    opacity: 0;
}

.add-cart.clicked .fa-shopping-cart{
    animation: cart 1.5s ease-in-out forwards;
}

.add-cart.clicked .fa-th-large{
    animation: th 1.5s ease-in-out forwards;
}

.add-cart.clicked span.add-to-cart{
    animation: txt1 1.5s ease-in-out forwards;
}
.add-cart.clicked span.added {
    animation: txt2 1.5s ease-in-out forwards;
}


@keyframes cart{
    0%{
        left: -10%;
    }
    40%, 60%{
        left: 50%;
    }
    100%{
        left: 110%;
    }
}

@keyframes th {
    0%, 40%{
        left: 52%;
    }
    60%{
        top: 40%;
        left: 52%;
    }
    100%{
        top: 40%;
        left: 112%;
    }

}


@keyframes txt1 {
    0%{
        opacity: 1;
    }
    20%, 100%{
        opacity: 0;
    }
}

@keyframes txt2 {
    0%, 80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*----------- Tuote tiedot sivu ------------*/

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*---------- ostoskori ----------*/



.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 50px auto 0;
}

.cartIconRemove{
    color: #d03838;

}
.cartIcons{
    color: #e38ea8;
    padding: 10px;
}

.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title{
    width: 45%;
}
.price{
    border-bottom: 1px solid lightgrey;
    width: 15%;
    align-items: center;
    display: flex;
}

.quantity{
    width: 30%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.infoPrice{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    position: relative;
    left: 110px;
    padding-left: 40px;
}

.infoQuantity{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    position: relative;
    left: 160px;
}

.infoTotal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    position: relative;
    left: 170px;
}

.total{
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.product{
    width: 45%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    padding: 10px 0;
    align-items: center;
}


.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img{
    width: 75px;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle{
    width: 20%
}

.basketTotal{
    width: 5%;
}

.cartName{
    opacity: 1;
}

/* Tuotetiedot */

.products-containerInfo{
    max-width: 650px;
    justify-content: space-around;
    margin: 50px auto 0;
}

.productInfo{
    width: 45%;
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.productsInfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.imgInfo{
    width: 300px;
}

.nameInfo{
    font-weight: bold;
}

/*---------Slider  ---------*/



.slider{
    width: 1000px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 1000px;
    height:700px;
}

/*Manuaalinen navigaatio*/
.navigation-manual{
    position: absolute;
    width: 1000px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #66a894;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #66a894;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/*Automaattinen navigaatio*/

.navigation-auto{
    position:absolute;
    display: flex;
    width: 1000px;
    justify-content: center;
    margin-top: 600px;
}

.navigation-auto div{
    border: 2px solid #40D3CD;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3CD;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3CD;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3CD;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3CD;
}


/*----------- S채채 ja kartta --------------*/

body {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.card {
    background: #ffdbdb;
    color: black;
    padding: 5px 5px;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: auto;
    margin-top: 1em;
    border-style: groove;
}
.search_weather {
    display: flex;
    align-items: center;
    justify-content: center;
}
#hakunappi {
    margin: 0.5em;
    border-radius: 50%;
    border:none;
    height: 44px;
    width: 58px;
    outline: none;
    background: #ffeeee;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
input.search_bar_weather {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #ffeeee;
    color: black;
    width: calc(100% - 100px);
}
#hakunappi:hover {
    background: #ffc0c0;
}
h1.temp {
    margin:0;
    margin-bottom:0.4em;
}
.flex {
    align-items: center;
    display: block;
}
.description {
    text-transform: capitalize;
}
.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading:after {
    visibility: visible;
    content: "Lataa...";
    color: black;
    position: absolute;
    top: 0;
    left: 20px;
}
.bannerkuva {
    width: 100%;
}

video {
    pointer-events: none;
    width: 100%;
    height: auto;
}

.clothingImg{
    width: 200px;
}

/*---------- Tili ----------*/

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container1 {
    border-radius: 5px;
    background: radial-gradient(#fff, #ffd6d6);
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
h2{
    text-align: center;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: black;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#button1 {
    background-color: #e285d5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}
.kuva1{
    width: 80%;
    height: 400px;
    background-size: cover;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


/*-------- media query for menu --------*/

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav{
        text-align: right;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .tit
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .dropdown:hover .dropdown-content{
        display: block;
        position: absolute;
        right: 100%;
        top: 0;
    }
    .cartName{
        font-size: 14px;
    }

    }



@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4, .slider{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
    article {
        width: 100%;
    }
}

